MVC-CAPAS-REPOSITORIO/Datos/Connected Services/ServiceWCFAlumno/ServicesWCFAlumno.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFAlumno" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFAlumno" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDCAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DCAlumno" nillable="true" type="tns:DCAlumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDCAlumno" nillable="true" type="tns:ArrayOfDCAlumno" />
  <xs:complexType name="DCAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="curp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idEstadoOrigen" type="xs:int" />
      <xs:element minOccurs="0" name="idEstatus" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="primerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="segundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DCAlumno" nillable="true" type="tns:DCAlumno" />
</xs:schema>