MVC-CAPAS-REPOSITORIO/Datos/Connected Services/ServiceWCFAlumno/ServicesWCFAlumno.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicesWCFAlumno" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54401/ServicesWCFAlumno.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54401/ServicesWCFAlumno.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54401/ServicesWCFAlumno.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFAlumno" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfAlumno_Consultar_InputMessage">
    <wsdl:part name="parameters" element="tns:Consultar" />
  </wsdl:message>
  <wsdl:message name="IWcfAlumno_Consultar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfAlumno_Crear_InputMessage">
    <wsdl:part name="parameters" element="tns:Crear" />
  </wsdl:message>
  <wsdl:message name="IWcfAlumno_Crear_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfAlumno_ConsultarUno_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarUno" />
  </wsdl:message>
  <wsdl:message name="IWcfAlumno_ConsultarUno_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarUnoResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfAlumno_Detalles_InputMessage">
    <wsdl:part name="parameters" element="tns:Detalles" />
  </wsdl:message>
  <wsdl:message name="IWcfAlumno_Detalles_OutputMessage">
    <wsdl:part name="parameters" element="tns:DetallesResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfAlumno_Editar_InputMessage">
    <wsdl:part name="parameters" element="tns:Editar" />
  </wsdl:message>
  <wsdl:message name="IWcfAlumno_Editar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfAlumno_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IWcfAlumno_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfAlumno">
    <wsdl:operation name="Consultar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfAlumno/Consultar" message="tns:IWcfAlumno_Consultar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfAlumno/ConsultarResponse" message="tns:IWcfAlumno_Consultar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Crear">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfAlumno/Crear" message="tns:IWcfAlumno_Crear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfAlumno/CrearResponse" message="tns:IWcfAlumno_Crear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarUno">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfAlumno/ConsultarUno" message="tns:IWcfAlumno_ConsultarUno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfAlumno/ConsultarUnoResponse" message="tns:IWcfAlumno_ConsultarUno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Detalles">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfAlumno/Detalles" message="tns:IWcfAlumno_Detalles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfAlumno/DetallesResponse" message="tns:IWcfAlumno_Detalles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfAlumno/Editar" message="tns:IWcfAlumno_Editar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfAlumno/EditarResponse" message="tns:IWcfAlumno_Editar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfAlumno/Eliminar" message="tns:IWcfAlumno_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfAlumno/EliminarResponse" message="tns:IWcfAlumno_Eliminar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWcfAlumno" type="tns:IWcfAlumno">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Consultar">
      <soap:operation soapAction="http://tempuri.org/IWcfAlumno/Consultar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Crear">
      <soap:operation soapAction="http://tempuri.org/IWcfAlumno/Crear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarUno">
      <soap:operation soapAction="http://tempuri.org/IWcfAlumno/ConsultarUno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Detalles">
      <soap:operation soapAction="http://tempuri.org/IWcfAlumno/Detalles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <soap:operation soapAction="http://tempuri.org/IWcfAlumno/Editar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IWcfAlumno/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicesWCFAlumno">
    <wsdl:port name="BasicHttpBinding_IWcfAlumno" binding="tns:BasicHttpBinding_IWcfAlumno">
      <soap:address location="http://localhost:54401/ServicesWCFAlumno.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>